html {
  overflow: hidden;
  background: url(../images/avatar.jpg) no-repeat center center fixed;
  background-size: cover;
}

html, body { height: 100%; width: 100%; }

body { margin: 0px; }

a { text-decoration: none; color: #ffffff }

.main-content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h3 {
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

h1 { margin-left: 50px; margin-right: 50px; }

h3 { margin-top: 15px; }
